<template lang="">
  <div class="w-full flex justify-center items-center">
    <div class="flex flex-col h-screen overflow-hidden" >
      <header class="w-full bg-gradient-to-r from-teal-600 to-sky-600 rounded-b-lg shadow-lg z-10">
        <div class="bg-white mt-2 p-5 rounded-b-lg shadow-lg">
          <nav class="login-color text-right">
            Login
          </nav>
        </div>
      </header>
      <main class="flex-1 overflow-y-scroll">
        <section class="text-center bg-teal-50 py-3 shadow-lg shadow-teal-50">
          <h1 class=" text-4xl my-3">Deine Job <br> Website</h1>
          <img class="" src="~/assets/img/agrement.svg" alt="Aggrement">
        </section>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f0fdfa" fill-opacity="1" d="M0,32L60,58.7C120,85,240,139,360,176C480,213,600,235,720,218.7C840,203,960,149,1080,144C1200,139,1320,181,1380,202.7L1440,224L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f0fdfa" fill-opacity="1" d="M0,224L60,202.7C120,181,240,139,360,149.3C480,160,600,224,720,229.3C840,235,960,181,1080,144C1200,107,1320,85,1380,74.7L1440,64L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg> -->
        <section class="">
          <div class="flex flex-wrap my-10">
            <div class="w-full">
              <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row px-3 overflow-x-auto text-center">
                <li class="flex-auto">
                  <a class="p-2 border rounded-l-lg block leading-normal duration-700" v-on:click="toggleTabs(1)" v-bind:class="{'text-teal-400 bg-white': openTab !== 1, 'text-white bg-teal-400': openTab === 1}">
                    Arbeitnehmer
                  </a>
                </li>
                <li class="flex-auto">
                  <a class="p-2  border-y block leading-normal duration-700" v-on:click="toggleTabs(2)" v-bind:class="{'text-teal-400 bg-white': openTab !== 2, 'text-white bg-teal-400': openTab === 2}">
                    Arbeitgeber
                  </a>
                </li>
                <li class="flex-auto">
                  <a class="p-2  border rounded-r-lg block leading-normal duration-700" v-on:click="toggleTabs(3)" v-bind:class="{'text-teal-400 bg-white': openTab !== 3, 'text-white bg-teal-400': openTab === 3}">
                    Temporarburo
                  </a>
                </li>
              </ul>
              <div class="relative flex flex-col min-w-0 break-words bg-white w-full h-screen">
                <div class="py-5 flex-auto">
                  <div class="tab-content tab-space">

                    <div v-bind:class="{'hidden': openTab !== 1, 'block': openTab === 1}">
                      <div class="relative text-center overflow-hidden">
                        <p class="text-gray-600 text-xl">Drei einfache Schritte <br> zu deinem neuen jon</p>
                        <img class="object-scale-down h-40 mb-16 w-full ml-10" src="~/assets/img/profile-data.png" alt="Profile Data">
                        <p class="absolute bottom-0 text-gray-500"><span class="text-9xl mr-8 tracking-tightest duration-700">1.</span>Erstellen dein Lebenslauf</p>
                      </div>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f0fdfa" fill-opacity="1" d="M0,160L60,165.3C120,171,240,181,360,202.7C480,224,600,256,720,245.3C840,235,960,181,1080,154.7C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
                      <div class="text-center w-full bg-teal-50 duration-700">
                        <p class="text-gray-500"><span class="text-9xl mr-8 tracking-tightest">2.</span>Erstellen dein Lebenslauf</p>
                        <img class="object-scale-down h-40 w-full" src="~/assets/img/personal-file.png" alt="Profile Data">
                      </div>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f0fdfa" fill-opacity="1" d="M0,288L60,256C120,224,240,160,360,160C480,160,600,224,720,240C840,256,960,224,1080,181.3C1200,139,1320,85,1380,58.7L1440,32L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
                      <div class="text-center w-full duration-700">
                        <p class="text-gray-500"><span class="text-9xl tracking-tightest mr-8">3.</span> <span >Mit nur einem Knick <br> <span class="ml-10">bewerben</span></span></p>
                        <img class="object-scale-down h-40 w-full" src="~/assets/img/task.png" alt="Profile Data">
                      </div>
                    </div>

                    <div v-bind:class="{'hidden': openTab !== 2, 'block': openTab === 2}">
                      <div class="relative text-center overflow-hidden">
                        <p class="text-gray-600 text-xl">Drei einfache Schritte <br> zu deinem neuen Mitarbieter</p>
                        <img class="object-scale-down h-40 w-full mb-16 ml-10" src="~/assets/img/profile-data.png" alt="Profile Data">
                        <p class="absolute bottom-0 text-gray-500 "><span class="text-9xl mr-8 tracking-tightest duration-700">1.</span>Erstellen dein Unternehmensprofil</p>
                      </div>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f0fdfa" fill-opacity="1" d="M0,160L60,165.3C120,171,240,181,360,202.7C480,224,600,256,720,245.3C840,235,960,181,1080,154.7C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
                      <div class="text-center w-full bg-teal-50 duration-700 ">
                        <p class="text-gray-500"><span class="text-9xl mr-8 tracking-tightest">2.</span>Erstellen ein Jobinserat</p>
                        <img class="object-scale-down h-40 w-full" src="~/assets/img/about-me.svg" alt="Profile Data">
                      </div> 
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f0fdfa" fill-opacity="1" d="M0,288L60,256C120,224,240,160,360,160C480,160,600,224,720,240C840,256,960,224,1080,181.3C1200,139,1320,85,1380,58.7L1440,32L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
                      <div class="text-center w-full duration-700">
                        <p class="text-gray-500"><span class="text-9xl tracking-tightest mr-8">3.</span> <span >Wahle deinen <br> <span class="ml-10"> neuen mitarneiter aus </span></span></p>
                        <img class="object-scale-down h-40 w-full" src="~/assets/img/swipe-profile.svg" alt="Profile Data">
                      </div>
                    </div>

                    <div v-bind:class="{'hidden': openTab !== 3, 'block': openTab === 3}">
                      <div class="relative text-center overflow-hidden">
                        <p class="text-gray-600 text-xl">Drei einfache Schritte zur<br> Vermittlung neuer Mitarbieter</p>
                        <img class="object-scale-down h-40 w-full mb-16  ml-10" src="~/assets/img/profile-data.png" alt="Profile Data">
                        <p class="absolute bottom-0 text-gray-500"><span class="text-9xl mr-8 tracking-tightest duration-700">1.</span>Erstellen dein Unternehmensprofil</p>
                      </div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f0fdfa" fill-opacity="1" d="M0,160L60,165.3C120,171,240,181,360,202.7C480,224,600,256,720,245.3C840,235,960,181,1080,154.7C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
                      <div class="text-center w-full bg-teal-50 duration-700">
                        <p class="text-gray-500"><span class="text-9xl mr-8 tracking-tightest">2.</span>Erhalte Vermittlungs- <br> angbot von Arbeitgeber</p>
                        <img class="object-scale-down h-40 w-full" src="~/assets/img/job-offer.svg" alt="Profile Data">
                      </div>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f0fdfa" fill-opacity="1" d="M0,288L60,256C120,224,240,160,360,160C480,160,600,224,720,240C840,256,960,224,1080,181.3C1200,139,1320,85,1380,58.7L1440,32L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
                      <div class="text-center w-full duration-700">
                        <p class="text-gray-500"><span class="text-9xl tracking-tightest mr-8">3.</span> <span >Vermittlung nach <br> <span class="ml-10">Provision oder Stundenlohn</span></span></p>
                        <img class="object-scale-down h-40 w-full" src="~/assets/img/business-deal.svg" alt="Profile Data">
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="w-full rounded-t-lg top-shadow z-10 border">
        <div class="bg-white mt-2 p-4 rounded-t-lg">
          <button 
          type="button" 
          class="w-full flex-auto content-center bg-gradient-to-r from-teal-600 to-sky-600 hover:from-teal-500 hover:to-orange-500 text-white font-semibold px-4 py-2 rounded"
        >
          Kostenlos Registrieren
        </button>
        </div>
      </footer>
    </div>
  </div>
</template>
<script>
export default {
  head: {
    title: 'Home page'
  },
  name: "IndexPage",
    data() {
    return {
      openTab: 1
    }
  },
  methods: {
    toggleTabs: function(tabNo){
      this.openTab = tabNo
    }
  }
}
</script>
<style>
  .login-color {
    color:#319795
  }

  .top-shadow{
    box-shadow: 0px -2px 10px rgb(0 0 0 / 0.1);
  }
</style>